# Django #
*.log
*.pot
*.pyc
__pycache__

.bak

.venv
.env
env/
venv/
ENV/
env.bak
venv.bak

.vscode/*
.history

__pycache__/
*.pyc
__localcode
venv
env
.DS_Store
local_settings.pyc
_local_settings.py
static/

!db.sqlite3

node_modules